name: Fetch latest repos
on:
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.25
    - run: go run main.go --update

    - name: Create file name
      run: echo "json=$(date +%Y-%m-%d).json" >> $GITHUB_ENV
      id: filename

    - name: Create Release
      uses: ncipollo/release-action@v1.15.0
      with:
        artifacts: github_repos.json
        name: ${{ steps.filename.outputs.json }}
        tag: latest
        allowUpdates: true
